<%- include("header") -%>

  <div class="box" id="heading">
    <h1><a href="/"><%= listTitle %></a></h1>
    
  </div>

  <!-- move list items into FINISHED LIST! -->
  <div class="box">
    <% listItems.forEach(function(item){  console.log(item) %>
      <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" name="checkboxItem" value="<%=item._id%>" onChange="this.form.submit()"/>
          <p><%=  item.name  %></p>
        </div>
        <input type="hidden" name="listName" value="<%=listTitle%>">
      </form>
      
    <%});%>
      
  </div>

  <div class="completed-list box">
    <a href=<%=path%> class="myButton"><%=task%></a>
  </div>

<%- include("footer") -%>
