<%- include("header") -%>

  <div class="box" id="heading">
    <h1>Your To-Do Lists</h1>
  </div>

  <div class="box">
    <% lists.forEach(function(list){ %>
    <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" name="checkboxList" value="<%=list._id%>" onChange="this.form.submit()"/>
          <a class="list-links" href="/<%= list.name %>"><%=  list.name  %></a>
        </div>
        <input type="hidden" name="listName" value="<%=list.name%>">
    </form>
      
    <%});%>

      <form class="item" action="/newList" method="post">
        <input type="text" name="newList" placeholder="Add/Navigate" autocomplete="off">
        <button type="submit" name="list" value="newListName">+</button>
      </form>
  </div>

<%- include("footer") -%>
